choice
    prompt "Select stm32 type"
    depends on STM32F10X
    default STM32_HIGH_CAPACITY

config STM32_LOW_CAPACITY
    bool "Low capacity type"

config STM32_MID_CAPACITY
    bool "Mid capacity type"

config STM32_HIGH_CAPACITY
    bool "High capacity type"

endchoice
