#
# For a description of the syntax of this configuration file,
#
mainmenu "Configuration"

menu "Compiler options"

config DEBUG
	bool "Enable debug option"
	help
	  This option allows debugging information to be included in the compiled bin file

	  If unsure, say N.

endmenu

menu "System options"

choice
    prompt "Set system clock hz"
    default SYSTEM_CLOCK_1000HZ

config SYSTEM_CLOCK_1000HZ
    bool "System clock 1000hz"

config SYSTEM_CLOCK_250HZ
    bool "System clock 250hz"

config SYSTEM_CLOCK_100HZ
    bool "System clock 100hz"

config SYSTEM_CLOCK_10HZ
    bool "System clock 10hz"

endchoice

config KERNEL_NAME_MAX_SIZE
    int "name max szie for kenrl"
    default 20
    help
        set system max name size.

config LOG
    bool "log enable"
    default y

endmenu

source "kernel/Kconfig"
